.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-exemplo {
    width: 33%;
    background-color: #2c4e6b;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    border-radius: 15px;
}

.form-title {
    width: 100%;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.form-desc {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.form-body form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-body form input,.form-body form textarea {
    margin-bottom: 5px;
}

.terms-box {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.terms-box label {
    cursor: pointer;
}
.terms-box input {
    position: absolute;
    top: -1px;
    left: 0px;
    cursor: pointer;
}

.button-box {
    text-align: right;
}
.button-box button {
    background: #ff7c2f;
    border: 0px;
    color: white;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}